/* Global Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Indent information line */
.alert {
    margin-top: 10px;
}

/* Footer Styles */
#footer {
    /*position: fixed;*/ /* Фиксированное положение */
    /*left: 0; bottom: 0;*/ /* Левый нижний угол */
    /*padding: 10px;*/ /* Поля вокруг текста */
    /*background: #39b54a;*/ /* Цвет фона */
    /*color: #fff;*/ /* Цвет текста */
    /*width: 100%;*/ /* Ширина слоя */
    
    margin-top:-100px;
    height:100px;
    position:relative;
    bottom:0;
    width:100%;
    padding-top: 50%;

    /*position: relative;
    margin-top: -150px; 
    height: 150px;
    clear:both;*/

    /*padding-top: 30px;
    position: absolute; 
    bottom: 0;
    height: 20px;
    margin-top: 10px;*/
}

.table {
    border-bottom: 2px solid #dddddd;
}

/* Button registration or authorization selector */
#btn-authorization, #btn-registration, #user-registr {
    margin-top: 25px;
}

/* ERRORS*/
span.first_name, .last_name {
    color: red;
}

/* Form Styles */
textarea,
select,
input {
max-width: 300px;
}

.table-head {
    color: blue;
}

