{% extends "resume/base.html" %}

{% load static from staticfiles %}

{% block meta_title%}Контакты{% endblock meta_title%}

{% block title %}Контакты кандидатов{% endblock title %}

{% block content %}
    
    {% if user %}
        {% for us in user %}
            <address>
                <strong>{{ us.first_name }} {{ us.last_name }}</strong><br>
                <a href="mailto:{{ us.email }}">{{ us.email }}</a><br>
                <abbr title="Мобильный">Тел.:</abbr> {{ us.mphone }}
            </address>
        {% endfor %}
    {% endif %}

{% endblock content%}
