{% extends "resume/base.html" %}

{% load static from staticfiles %}

{% block meta_title%}Контакты{% endblock meta_title%}

{% block title %}Связаться с кандидатом {{ user.login }}{% endblock title %}

{% block content %}

    PRINT: {{ auth }}
    PRINT: {{ log }}
    PRINT: {{ user.first_name }}
    
    {% if user %}
        <address>
            <strong>{{ user.first_name }} {{ user.last_name }}</strong><br>
            <a href="mailto:{{ user.email }}">{{ user.email }}</a><br>
            <abbr title="Мобильный">Тел.:</abbr> {{ user.mphone }}
        </address>
    {% endif %}

{% endblock content%}
