{% extends "resume/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}{{ title_page }}{% endblock meta_title %}

{% block title %}{{ title_page }}{% endblock title %}

{% block status_message %}
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock content %}
